/* Layout */

body {
  margin: 0;
}

header, main, footer {
  width: 100%;
}

header, footer {
  padding: 3.5em 0em;
}

header {
  background-color: #F8F8F8;
}

footer {
  text-align: center;
  background-color: #143774;
}

.header-title {
  width: 25%;
  text-align: center;
}

.navigation {
  width: 40%;
}

.header-nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 3em;
}

.container-nav {
  width: 75%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.container {
  display: flex;
  width: 75%;
  margin: 4em auto;
  justify-content: space-between;
  gap: 5em;
}

.left-col {
  width: 75%;
}

.right-col {
  width: 25%;
  border: 1px solid rebeccapurple;
}

.normal-article {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 2em;
  align-items: start;
  margin: 0 auto;
}

.about-me-card {
  background-color: #e0e0e0;
}

.card-container {
  width: 90%;
  background-color: white;
  margin: 0 auto;
}

/* Typography */

.header-title h1 {
  color: #143774;
  font-family: "Lora", serif;
  font-size: 1.5rem;
  font-weight: normal;
  margin: 0 auto 0.1em auto;
}

.header-title p {
  color: #1792D2;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0 auto;
}

.header-nav-list a {
  color: #717171;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: normal;
}

.nav-item-1 {
  border-bottom: 2px solid #707070;
}

.post-date {
  color: #707070;
  font-size: 0.9rem;
  font-weight: normal;
}

.post-title {
  color: #143774;
  font-size: 1.5rem;
  font-family: "Lora", serif;
  font-weight: normal;
}

.post-description {
  color: #707070;
  font-size: 1.1rem;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
}

.post-description a {
  color: #1792D2;
}

.decorations-introduction {
  font-weight: bold;
}

.continue-reading {
  color: #1792D2;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.normal-article .post-title {
  margin-top: 0;
}

.normal-article .post-description {
  margin: 2.5em 0;
}

.about-me-title {
  color: #143774;
  font-family: "Ubuntu", sans-serif;
  text-transform: uppercase;
  letter-spacing: 3.6px;
  font-weight: 900;
  margin: 1.5em 0;
  font-size: 1.1rem;
}

.about-me-paragraph {
  color: #143774;
  font-family: "Ubuntu", sans-serif;
  font-weight: normal;
  margin: 1.5em 0;
  font-size: 0.9rem;
}

/* Images */

.crop-special-image {
  width: 100%;
  height: 308px;
  overflow: hidden;
}

.crop-special-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.crop-normal-image {
  width: 198px;
  height: 242px;
  overflow: hidden;
}

.crop-normal-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.about-me-card-image {
  margin: 0 auto;
}

/* Line */

hr {
  margin: 2em 0;
  color: #707070;
  width: 100%;
}